

#graph1 {
  margin: 20px;
  padding: 20px;
}

#graph2 {
  margin: 20px;
  padding: 20px;    
  height: auto;
}

#graph3 {
  margin: 20px;
  padding: 20px;    
  height: auto;
}

#graph4 {
  margin: 20px;
  padding: 20px;    
  height: auto;
}

#graph5 {
  margin: 20px;
  padding: 20px;    
  height: auto;
  width: 100VW;
}
