.list-group {
  display: block;
  width: 100%;
}

.main-content {
  padding: 20px;
  width: 100%;
  overflow: auto;
  scrollbar-width: none;  /* Firefox */
}

.main-content::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.table {
  background-color: rgba(255, 255, 255, 0.562);
  
}

.cube {
  width: 100%;
  height: 100%;
}

/*background anim*/
.bg {
  animation:slide 9s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(31, 31, 31) 50%, rgb(255, 255, 255) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:12s;
}

.bg3 {
  animation-duration:15s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}