.list-group {
  display: block;
  width: 100%;
}

.main-content {
  padding: 20px;
  width: 100%;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
}

.main-content::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.table {
  background-color: rgba(255, 255, 255, 0.562);
}

.remove {
  height: 25px;
  width: 25px;
  padding: auto;
  margin: none;
}

.menu {
  background-color: #f8f9faf1;

  /* rgba(255, 255, 255, 0.877); */
}

.x {
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
}

.remove:hover {
  color: white;
  background-color: rgb(231, 49, 49);
}

.remove:active {
  background-color: rgb(161, 35, 35);
}

.lists {
  font-size: 20px;
}

.remove:focus {
  box-shadow: none;
}

.cube {
  width: 100%;
  height: 100%;
}

/*background anim
ratios: 9, 12, 15*/
.bg {
  animation: slide 27s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    rgb(31, 31, 31) 50%,
    rgb(255, 255, 255) 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 36s;
}

.bg3 {
  animation-duration: 45s;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.sort {
  position: relative;
  text-align: right;
  margin: 25px;
  margin-right: 40px;
  color: aliceblue;
  font-weight: 400;
  text-shadow: -1px 1px 0 rgb(146, 146, 146);
}

.filter {
  display: inline-block;
  margin: 7px;
  font-weight: 300;
  user-select: none;
  -webkit-user-select: none;
}

.filter:hover {
  text-decoration: underline;
  text-decoration-color: whitesmoke;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  cursor: pointer;
}

.filter-active {
  text-decoration: underline;
  text-decoration-color: whitesmoke;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

#session-select {
  float: left;
  margin-right: 25px;
  margin-top: 35px;
}

.session-btn {
  float: left;
  margin-top: 35px;
  margin-right: 15px;
}


/* modal */

.colorLabel {
  margin: 20px;
}

.manualEntry:focus {
  outline: none;
  box-shadow: none;
}

.select {
  width: auto;
}

.settings-modal {
  color: black;
}

.scrambleLength {
  width: 210px;
  margin: 20px;
}

.manEnt {
  margin-left: 20px;
}

.back {
  margin-left: 20px;
}

.scrambleLength:focus {
  outline: none;
  box-shadow: none;
}

.manualEntry {
  width: auto;
}

.manualEntryDiv {
  width: 20px;
  display: inline-flex;
  margin: 20px;
}

.background {
  margin: 20px;
  display: inline-flex;
}

.color {
  width: 30px;
  padding: 0px;
  margin: 20px;
  margin-left: 5px;
  display: inline-flex;
  height: 15px;
}