.list-group {
  display: block;
  width: 100%;
}

.solveList {
  padding: 20px;
  width: 100%;
  overflow: auto;
  scrollbar-width: none;
  /* Firefox */
}

.main-content::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.table {
  background-color: rgba(255, 255, 255, 0.562);
}

.remove {
  height: 25px;
  width: 25px;
  padding: auto;
  margin: none;
}

.menu {
  background-color: #f8f9faf1;

  /* rgba(255, 255, 255, 0.877); */
}

.x {
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
}

.remove:hover {
  color: white;
  background-color: rgb(231, 49, 49);
}

.remove:active {
  background-color: rgb(161, 35, 35);
}

.lists {
  font-size: 20px;
}

.remove:focus {
  box-shadow: none;
}

.cube {
  width: 100%;
  height: 100%;
}

/*background anim
ratios: 9, 12, 15*/
.bg {
  animation: slide 27s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg,
      rgb(31, 31, 31) 50%,
      rgb(255, 255, 255) 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 36s;
}

.bg3 {
  animation-duration: 45s;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

.sort {
  position: relative;
  text-align: right;
  margin: 25px;
  margin-right: 40px;
  color: aliceblue;
  font-weight: 400;
  text-shadow: -1px 1px 0 rgb(146, 146, 146);
}

.filter {
  display: inline-block;
  margin: 7px;
  font-weight: 300;
  user-select: none;
  -webkit-user-select: none;
}

.filter:hover {
  text-decoration: underline;
  text-decoration-color: whitesmoke;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  cursor: pointer;
}

.filter-active {
  text-decoration: underline;
  text-decoration-color: whitesmoke;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

#session-select {
  float: left;
  margin-right: 25px;
  margin-top: 35px;
}

.session-btn {
  float: left;
  margin-top: 35px;
  margin-right: 15px;
}


/* modal */

.colorLabel {
  margin: 20px;
}

.manualEntry:focus {
  outline: none;
  box-shadow: none;
}

.select {
  width: auto;
}

.settings-modal {
  color: black;
}

.scrambleLength {
  width: 210px;
  margin: 20px;
}

.manEnt {
  margin-left: 20px;
}

.back {
  margin-left: 20px;
}

.scrambleLength:focus {
  outline: none;
  box-shadow: none;
}

.manualEntry {
  width: auto;
}

.manualEntryDiv {
  width: 20px;
  display: inline-flex;
  margin: 20px;
}

.background {
  margin: 20px;
  display: inline-flex;
}

.color {
  width: 30px;
  padding: 0px;
  margin: 20px;
  margin-left: 5px;
  display: inline-flex;
  height: 15px;
}

/* hide arrows on number field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

#backgroundPreview {
  height: 100px;
  width: auto;
  border-radius: 5px;
}

.graph-wrapper {
  padding: 3rem;
}

.css-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.card-wide {
  grid-column: span 2 / auto;
  grid-auto-rows: minmax(min-content, max-content);
}



#graphsContent {
  display: none;
  padding: 20px;
  width: 100%;
  overflow: auto;
  scrollbar-width: none;
  /* Firefox */
}

canvas {
  width: 100%;
  height: 100%;
}

.block {
  transition: transform ease-out 500ms;
  text-align: center;
  margin: 1rem;
  padding: 3rem;
  border-color: #edf2f9;
  -webkit-box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
  box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 20%);
  border-radius: 10px;
  color: white;
}

.block:hover {
  transform: scale(1.03);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoBlockNumber {
  font-size: 120px;
  font-weight: 700;
  color: white;
  /* line-height: 30px; */
}

/* .infoBlockTitle {
  font-weight: 100;
  font-size: 65px;
  line-height: 30px;
  margin-bottom: 20px;
  line-height: 67px;
} */

#userTime {
  width: 70%;
  border: none;
  border-bottom: 1px solid #FBAB7E;
  outline: none;
  font-weight: 900;
  font-size: 52px;
  background: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}


.crystalline-gradient {
  background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
}

.pink-fish-gradient {
  background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
}

.yellow-gradient {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}


.blue-gradient {
  background-image: linear-gradient(135deg, #3C8CE7 10%, #00EAFF 100%);
}

.text-gradient-pink {
  background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

.text-gradient-yellow {
  background: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

.block-title {
  font-weight: 900;
  font-size: 52px;
  letter-spacing: 2px;
}

@media only screen and (max-width: 700px) {
  .css-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .block-title {
    font-size: 30px;
  }

  .infoBlockNumber {
    font-size: 50px;
  }

  .block {
    padding: 10px
  }

  .too-big-for-phone {
    display: none;
  }

  .card-wide {
    grid-column: auto;
    grid-auto-rows: minmax(min-content, max-content);
  }
}