@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");

body {
  user-select: none;
  -webkit-user-select: none;
  color: white;
}

.timer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  z-index: 3;
  pointer-events: none;
}

.select {
  width: auto;
}

.settings-modal {
  color: black;
}

#averages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: absolute;
  width: 100vw;
  height: 35vh;
  bottom: 0;
  pointer-events: none;
}

h4 {
  text-align: center;
  font-size: 30px;
  width: 100vw;
}

h2 {
  font-size: 4vw;
  letter-spacing: 0.2em;
}

.scrambleLetter {
  display: inline-block;
  letter-spacing: 1px;
  margin: 10px;
  font-size: 35px;
}

#clock {
  font-size: 15vw;
  font-family: monospace, "Play", sans-serif;
  font-size-adjust: 0.58;
  z-index: 4;
  pointer-events: none;
}

#tool-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 25px;
  z-index: 3;
}

#scramble {
  position: absolute;
  text-align: center;
  z-index: 2;
  margin-top: 80px;
  width: 100vw;
  pointer-events: none;
}

.icon {
  font-size: 40px;
  opacity: 0.8;
}

.icon:hover {
  opacity: 1;
  cursor: pointer;
}

body {
  overflow: hidden; /* Hide scrollbars */
}

.penalty {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  margin: 20px;
  margin-top: 10px;
  border-radius: 7px;
  padding: 10px;
  width: 100px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  pointer-events: all;
}

.penalty:hover {
  background-color: rgba(255, 255, 255, 0.11);
  pointer-events: all;
}

.penalty:active {
  transform: translateY(3px);
}

/* #DNF {
  display: none;
}

#plusTwo {
  display: none;
} */
