@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");

body {
  user-select: none;
  -webkit-user-select: none;
  color: white;
}

.timer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  z-index: 3;
  pointer-events: none;
}

.select {
  width: auto;
}

.settings-modal {
  color: black;
}

.manualEntry:focus {
  outline: none;
  box-shadow: none;
}

.scrambleLength {
  width: 210px;
  margin: 20px;
}

.manEnt {
  margin-left: 20px;
}

.back {
  margin-left: 20px;
}

.scrambleLength:focus {
  outline: none;
  box-shadow: none;
}

.manualEntry {
  width: auto;
}

.manualEntryDiv {
  width: 20px;
  display: inline-flex;
  margin: 20px;
}

.background {
  margin: 20px;
  display: inline-flex;
}

#averages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  z-index: 2;
  position: absolute;
  width: 100vw;
  height: 35vh;
  bottom: 0;
  pointer-events: none;
}

h4 {
  text-align: center;
  font-size: 30px;
  width: 100vw;
}

h2 {
  font-size: 4vw;
  letter-spacing: 0.2em;
}

.scrambleLetter {
  display: inline-block;
  letter-spacing: 1px;
  margin: 10px;
  font-size: 35px;
}

#clock {
  font-size: 15vw;
  font-family: monospace, "Play", sans-serif;
  font-size-adjust: 0.58;
  z-index: 4;
  pointer-events: none;
}

#tool-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 25px;
  z-index: 3;
}

#scramble {
  position: absolute;
  top: 0px;
  text-align: center;
  z-index: 2;
  margin-top: 80px;
  width: 100vw;
  pointer-events: none;
}

.icon {
  font-size: 40px;
  opacity: 0.8;
}

.icon:hover {
  opacity: 1;
  cursor: pointer;
}

body {
  overflow: hidden; /* Hide scrollbars */
}

.penalty {
  font-size: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  margin: 20px;
  margin-top: 10px;
  border-radius: 7px;
  padding: 10px;
  width: 15vh;
  height: 6.5vh;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  pointer-events: all;
}

.penalty:hover {
  background-color: rgba(255, 255, 255, 0.11);
  pointer-events: all;
}

.penalty:active {
  transform: translateY(3px);
}

/* #DNF {
  display: none;
}

#plusTwo {
  display: none;
} */


/* manual entry */

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

/* demo */
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: #222222;
}