body {
  user-select: none;
  color: white;
}

.timer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  z-index: 3;
  pointer-events:none;
}

#averages {
  z-index: 2;
  position: absolute;
  width: 100vw;
  text-align: center;
  bottom: 10vh;
  /* display: none; */
}

h4 {
  font-size: 30px;
}

h2 {
  font-size: 4vw;
  letter-spacing: 0.2em;
}

#clock {
  font-size: 15vw;
  font-family: monospace;
  z-index: 4;
}

#tool-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  z-index: 3;
}

#scramble {
  position: absolute;
  text-align: center;
  z-index: 2;
  margin-top: 80px;
  width: 100vw;
}

.icon {
  font-size: 40px;
  margin: 5px;
  opacity: 0.8;
}

.icon:hover {
  opacity: 1;
  cursor: pointer;
}

body {
  overflow: hidden; /* Hide scrollbars */
}

